/* TODO: Make it awesome */

html {
  background-color:burlywood;
}

h1 {
  font-size: xx-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

nav li {
  font-size: x-large;
  display: inline;
  background-color: burlywood;
  color:blue;
}

nav li:hover {
  background-color: rgb(107, 107, 171);
  color:aliceblue;
}
div ol li {
  font-size: large;
  
}

th {
  border-color: 5px solid black;
  background-color: blanchedalmond;
}

td {
  border-color: 5px solid black;
}
